@page "/formulario"

<h3>Formulario</h3>

<EditForm Model="producto" OnValidSubmit="ManejadorOnSubmit">
    <DataAnnotationsValidator />
    <p>
        <label>
            Nombre:
            <InputText id="nommbre" @bind-Value="producto.Nombre" />
        </label>
    </p>

    <p>
        <label>
            Descripción:
            <InputText id="descripcion" @bind-Value="producto.Descripcion" />
        </label>
    </p>

    <p>
        <label>
            Cantidad:
            <InputNumber id="cantidad" @bind-Value="producto.Cantidad" />
        </label>
    </p>

    <p>
        <label>
            Activo:
            <InputCheckbox id="activo" @bind-Value="producto.Activo" />
        </label>
    </p>

    <button class="btn btn-success" type="submit">Enviar</button>

    <ValidationSummary class="my-4"/>
</EditForm>

<hr />
<h4>@resultado</h4>
<br />
<p>Nombre: @producto.Nombre</p>
<p>Descripción: @producto.Descripcion</p>
<p>Cantidad: @producto.Cantidad</p>
<p>Activo: @producto.Activo</p>


@code {
    private Producto producto = new Producto();

    private string resultado = "";

    private void ManejadorOnSubmit()
    {
        resultado = $"{producto.Nombre} {producto.Descripcion}";
        resultado = "Un nuevo producto ha sido creado";
        producto = new Producto();
    }
}

